<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="nav">
  <a class="nav-logo" th:href="@{/}">
    <div class="duck-pill">🦆</div>
    RubberDuck<span style="color:var(--blue)">Surveys</span>
  </a>
  <div class="nav-links">
    <a class="nav-link" href="#features">Features</a>
    <a class="nav-link" href="#how">Cómo funciona</a>
    <a class="nav-link" href="#testimonials">Clientes</a>
    <a href="https://drive.google.com/file/d/1OzaKH7FI6uwzM9gBXaLTHq2JN4j9hW83/view?usp=sharing" class="btn-nav" style="text-decoration:none;display:inline-block;" target="_blank">Empezar gratis</a>
  </div>
</nav>
</html>
