<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>

    <div th:replace="~{fragments/nav :: nav}"></div>

    <section th:replace="~{fragments/hero :: hero}"></section>

    <div th:replace="~{fragments/how_it_works :: how_it_works}"></div>

    <section th:replace="~{fragments/features :: features}"></section>

    <section th:replace="~{fragments/stats :: stats}"></section>

    <section th:replace="~{fragments/testimonials :: testimonials}"></section>

    <section th:replace="~{fragments/cta :: cta}"></section>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
